{% block content %}
<h1>Панель администратора</h1>
<div class="navbar">
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'profile' %}">Личный кабинет</a>
    <a href="{% url 'logout' %}?next=/">Выйти</a>
</div>

<a href="{% url 'category_new' %}">Создать новую категорию</a>

{% for category in categories %}
<div>
    <h2>{{ category.name }}</h2>
    <a href="{% url 'category_delete' category.id %}">Удалить категорию</a>
</div>
{% endfor %}

<ul>
    {% for request in applications %}
    <li>
        <h3>{{ request.title }}</h3>
        <img src="{{ request.photo_file.url }}" alt="{{ request.title }}" width="300px" height="250px">
        <p>{{ request.description }}</p>
        <p>Категории:{{ request.category}}</p>
        <p>Статус: {{ request.get_status_display }}</p>
        <a href="{% url 'change_request_status' request.id %}">Изменить статус</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
