<!DOCTYPE html>
<html>
<head>
    <title>Design.pro</title>
</head>
<body>
<h1>Добро пожаловать на Design.pro!</h1>
<p>Мы - дизайн-студия, специализирующаяся на создании уникальных и инновационных дизайнов.</p>
{% if request.user.is_authenticated %}
<p>Привет, {{ request.user.username }}!</p>
<a href="{% url 'logout' %}?next=/">Выйти</a>
{% else %}
<a href="{% url 'login' %}">Войти</a> или <a href="{% url 'register' %}">Зарегистрироваться</a>
{% endif %}
{% for design in completed_designs %}
    <div>
        <h2>{{ design.title }}</h2>
        <p>{{ design.date }}</p>
        <p>{% for category in design.category.all %} {{category}}{% endfor %}</p>
        <img src="{{ design.photo_file.url }}" alt="{{ design.title }}">
    </div>
{% endfor %}

<p>Количество заявок, находящихся в статусе «Принято в работу»: {{ in_progress_count }}</p>

<main role="main" class="conteiner">
    <div class="starter-template">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>

