<!DOCTYPE html>
<html>
<head>
    <title>Design.pro</title>
</head>
<body>
<h1>Добро пожаловать на Design.pro!</h1>
<p>Мы - дизайн-студия, специализирующаяся на создании уникальных и инновационных дизайнов.</p>
{% if request.user.is_authenticated %}
<p>Привет, {{ request.user.username }}!</p>
<a href="{% url 'profile' %}">Личный кабинет</a>
{% if request.user.is_superuser %}
<a href="{% url 'admin_dashboard' %}">Панель администратора</a>
{% endif %}
<a href="{% url 'logout' %}">Выйти</a>
{% else %}
<a href="{% url 'login' %}">Войти</a> или <a href="{% url 'register' %}">Зарегистрироваться</a>
{% endif %}


<p>Количество заявок, находящихся в статусе «Принято в работу»: {{ in_progress_count }}</p>

<main role="main" class="conteiner">
    <div class="starter-template">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>

